@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font: bold 20px/1 'OpenSans', Times, sans-serif;
}

body {
  user-select: none;
}

button {
  border: none;
}
* {
  padding: 0;
  margin: 0;
  outline: none !important;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:before,
*:after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

td {
  vertical-align: middle;
}

img {
  border: none;
}

input {
  user-select: none;
}
::selection {
  background: transparent;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
clear: both;
}

html, body {
  position: relative;
  height: 100%;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: inherit;
}
::-ms-clear {
  display: none;
}

input {
  user-select: none;
}

::selection {
  background: transparent;
}

h1, h2, h3 {
  text-transform: uppercase;
}

footer,
section,
nav,
aside {
  display: block;
}

.container {
  min-width: 320px;
}

.header { 
  position: relative;
  color: #fff;
  font-size: 16px;
  padding: 35px 70px;
  display: block;
}

.header:before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0a0e34;
  opacity: 0.9;
}

.logo {
  text-align: center;
  cursor: pointer;
}

.logo svg {
  width: 191px;
  transition: all 1s;
  fill: #000;
}

@media screen and (max-width: 768px) {
  .logo svg {
    width: 200px;
  }
}

@media screen and (max-width: 479px) {
  .logo svg {
    width: 133px;
    height: 37px;
  }
}

.logo path {
  stroke-width: 5px;
  transition: 0.4s;
}

.logo:hover path {
  fill: #3F51B5;
  stroke-width: 5px;
}

.header:before {
  background: url(../images/football_1920.jpg) 50% 0 / cover no-repeat;
}

@media screen and (max-width: 767px) {
  .header:before {
    background-image: url(../images/football_767.jpg);
  }
}

.header-logo {
  margin-bottom: 295px;
}

@media screen and (max-width: 768px) {
  .header-logo {
    margin-bottom: 175px;
	padding-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .header-logo {
    margin-bottom: 128px;
  }
}

.header-wrap {
  max-width: 1350px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 35px 58px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    padding: 18px 20px;
  }
}

.header-primary {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 225px;
  font-size: 83px;
  letter-spacing: 2px;
  transition: 0.4s;
}
@media screen and (max-width: 768px) {

.header-primary {
  font-size: 64px;
  padding-left: 20px;
  letter-spacing: 3px;
  margin-bottom: 325px;
}
}

@media screen and (max-width: 479px)
{
  .header-primary {
  margin-bottom: 65px;
  font-size: 28px;
  padding: 0px;
  
}
}

.header-primary > span {
  max-width: 85%;
  margin: 0 -7px;
}

@media screen and (max-width: 479px) {
  .header-primary > span { 
    margin: 0 -2px;
	letter-spacing: 1px;
	word-spacing: 4px;
  }
}

.header-primary .second-text {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .second-text{
    margin-bottom: 325px;
    font-size: 64px;
  }
}

@media screen and (max-width: 768px) {
  .header-primary .second-text{
    align-self: flex-end;
    padding-top: 5px;
  }
}

@media screen and (max-width: 479px) {
  .header-primary .second-text{
    margin-bottom: 10px;
	line-height: 30px;
    font-size: 28px;
	
  }
  .first-text {
    padding-bottom: 28px;
  }
}

  @media screen and (max-width: 479px) {
	.first-text {
    padding-bottom: 20px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: -25px;
  transition: 0.4s;
}
}

.menu-link {
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 43px;
  background-color: #5e42b0;
  transition: 0.4s;
  backface-visibility: hidden;
}

.menu-link:hover {
  transform: translateY(2px);
}
.menu-link:active {
  transform: translateY(4px);
}
@media screen and (max-width: 767px) {
  .menu-link {
    width: 100%;
    padding: 9px 0;  
    
  }
}

@media screen and (max-width: 479px) {
  .menu-link {
    margin-top: 14px;
    flex-direction: column;
    
  }
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .menu-content {
    font-size: 8px;
  }
}

.menu-logo-apple {
  margin-right: 25px;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 769px) {
  .menu-logo-apple {
    margin-right: 25px;
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 479px) {
  .menu-logo-apple {
    width: 24px;
    height: 24px;
	margin-right: 8px;
  }
}

.menu-text-container {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.menu-text-container > *:first-child {
  font-weight: 400;
}

@media screen and (max-width: 768px){
.menu-text-container > *:first-child {
  font-weight: 400;
  padding-right: 50px;
	} 
}

.menu-link + .menu-link {
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .menu-link + .menu-link {
    margin-left: 30px;
	margin-right: 10px;
	
  }
}

@media screen and (max-width: 479px) {
  .menu-link + .menu-link {
    margin-left: 0px;
	margin-right: 0px;
    
  }
}

@media screen and (max-width: 769px) {
  .menu {
    height: 75px;
    width: 650px;
    
  }
}

@media screen and (max-width: 479px) {
  .menu {
    margin-top: 25px;
    width: 280px;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }
}

.menu-link {
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 43px;
  background-color: #5e42b0;
  transition: 0.4s;
  backface-visibility: hidden;
}
.menu-link:hover {
  transform: translateY(2px);
}
.menu-link:active {
  transform: translateY(4px);
}

@media screen and (max-width: 767px) {
  .menu-link {
    width: 100%;
    padding: 9px 0;

  }
}

@media screen and (max-width: 479px) {
  .menu-link {
    width: 100%;
    padding: 5px 0;

  }
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .menu-content {
    font-size: 8px;
	padding-left: 48px;
  }
}

@media screen and (max-width: 479px) {
.menu-content-modify {
   margin-right: 44px;
}
}

@media screen and (max-width: 769px) {
.menu-content-modify {
   margin-right: 25px;
}
}

.menu-logo-google {
  margin-right: 25px;
  margin-left: 10px;
  width: 48px;
  height: 48px;
}

.menu-text .menu-form {
 margin-right: 25px;
}

@media screen and (max-width: 769px) {
  .menu-logo-google {
    margin-right: 20px;
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 479px) {
  .menu-logo-google {
    width: 24px;
    height: 24px;
	margin-left: 0px;
  }
}

.main {
  color: #000;
  font-weight: 700;
  font-family: 'OpenSans', Times, sans-serif;
  display: block;
}
.sport {
  font-size: 10px;
  overflow: hidden;
}
.sport h2 {
  margin-left: -5px;
  color: #e7e7e7;
  font-size: 80px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .sport h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .sport h2 {
    font-size: 50px;
  }
}
.sport-block {
  position: relative;
  display: flex;
  flex-direction: column;
  
}

 .sport-header {
    font-size: 36px; 
    margin-top: -5px;
    padding-left: 10px;
    color: #c1c1c1;
    letter-spacing: 1.7px;
    text-transform: uppercase;
  }

@media screen and (max-width: 768px) {
  .sport-header {
    font-size: 32px; 
    margin-top: -5px;
    padding-left: 10px;
    color: #c1c1c1;
    letter-spacing: 1.7px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 479px) {
  .sport-header {
    font-size: 23px; 
    margin-top: -5px;
    padding-left: 10px;
    color: #c1c1c1;
    letter-spacing: 1.7px;
    text-transform: uppercase;
  }
}

.sport-block:nth-child(2n) .sport-box {
  justify-content: flex-start;
 }
.sport-block:nth-child(2n) .sport-wrap {
  padding: 0 20px 0 192px;
}
.sport-block:nth-child(2n) .sport-image {
  top: -110px;
  left: initial;
  right: 0;
  transform: translate(86%, 35px);
}
@media screen and (max-width: 1275px) {
  .sport-block:nth-child(2n) .sport-image {
    transform: translate(86%, 35px);
  }
}
@media screen and (max-width: 991px) {
  .sport-block:nth-child(2n) .sport-image {
    top: 0;
    transform: translate(60%, 0);
  }
}
@media screen and (max-width: 767px) {
  .sport-block:nth-child(2n) .sport-image {
    position: static;
    transform: initial;
  }
}


.sport-block:nth-child(2n) .sport-image2 {
  top: -110px;
  left: initial;
  right: 0;
  transform: translate(86%, 35px);
}
@media screen and (max-width: 1275px) {
  .sport-block:nth-child(2n) .sport-image2 {
    transform: translate(86%, 35px);
  }
}
@media screen and (max-width: 991px) {
  .sport-block:nth-child(2n) .sport-image2 {
    top: 0;
    transform: translate(60%, 0);
  }
}
@media screen and (max-width: 767px) {
  .sport-block:nth-child(2n) .sport-image2 {
    position: static;
    transform: initial;
  }
}

@media screen and (max-width: 991px) {
  .sport-block:nth-child(2n) .sport-box .sport-wrap {
    padding: 0 90px 0 10px;
  }
}

@media screen and (max-width: 479px) {
  .sport-block:nth-child(2n) .sport-wrap {
    padding: 0 20px;
  }
}
.sport-block:nth-child(2n) .sport-box:nth-child(4) {
  background-color: #0a0e34;
}
.sport-block:nth-child(2n) .sport-box:nth-child(4) .sport-wrap .sport-title-wrap .sport-value {
  color: #5e42b0;
}
.sport-box {
  display: flex;
  justify-content: flex-end;
}
.sport-box:nth-child(1) {
  padding: 110px 0 50px;
}
@media screen and (max-width: 768px) {
  .sport-box:nth-child(1) {
    padding: 75px 0 0 0;
  }
}
@media screen and (max-width: 479px) {
  .sport-box:nth-child(1) {
    padding: 5px 0 0 4px;
	margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .sport-box:nth-child(2) {
    margin-top: -50px;
    background-color: #fafafa;
  }

}

@media screen and (max-width: 479px) {
  .sport-box:nth-child(2) {
    margin-top: -50px;
    background-color: #fafafa;
  }

}
.sport-box:nth-child(2),
.sport-box:nth-child(3),
.sport-box:nth-child(4) {
  padding: 60px 0;
}
@media screen and (max-width: 1275px) {
  .sport-box:nth-child(2),
  .sport-box:nth-child(3),
  .sport-box:nth-child(4) {
    padding: 40px 0;
  }
}
@media screen and (max-width: 768px) {
  .sport-box:nth-child(2),
  .sport-box:nth-child(3),
  .sport-box:nth-child(4) {
    padding-top: 50px;
	padding-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .sport-box:nth-child(2),
  .sport-box:nth-child(3),
  .sport-box:nth-child(4) {
    padding-top: 50px;
	padding-bottom: 40px;
  }
}

.sport-box:nth-child(3) {
  background-color: #f6f4fa;
}
.sport-box:nth-child(4) {
  background-color: #5e42b0;
}
.sport-box:nth-child(4) .sport-title-wrap h3 {
  color: #c1c1c1;
}
.sport-box:nth-child(4) .sport-title-wrap .sport-value:before {
  background-color: #c1c1c1;
}
.sport-box:nth-child(4) .sport-text {
  color: #fff;
}

@media screen and (max-width: 479px){
.sport-box:nth-child(4) .sport-title-wrap {
  padding-bottom: 10px;
}
}

@media screen and (max-width: 479px){
.sport-box:nth-child(3) .sport-title-wrap {
  padding-bottom: 5px;
}
}

.sport-wrap {
  position: relative;
  width: 50%;
  padding: 0 192px 0 20px;
}
@media screen and (max-width: 1275px) {
  .sport-wrap {
    width: 66.66666667%;
    padding: 0 32px;
  }
}
@media screen and (max-width: 768px) {
  .sport-wrap {
    padding: 0 20px 0 35px;
	margin-left: 25px;
  }
}
@media screen and (max-width: 479px) {
  .sport-wrap {
    width: 100%;
	margin: 0;
	padding: 14px 20px 0 20px;
  }
}
.sport-image {
  position: absolute;
  top: -110px;
  left: 0;
  transform: translate(-110%, 30px) scale(1.04);
  transition: 0.4s;
}
@media screen and (max-width: 768px) {
  .sport-image img {
    
    margin-left: 210px;
	margin-top: -20px;
  }
}

@media screen and (max-width: 496px){
.sport-image img {
    margin-left: 46px;
    margin-top: -8px;
}
}
@media screen and (max-width: 991px) {
  .sport-image {
    top: 0;
    transform: translate(-90%, 45px) scale(1.04);
  }
}
@media screen and (max-width: 767px) {
  .sport-image {
    position: static;
    transform: initial;
  }
}


.sport-image2 {
  position: absolute;
  top: -110px;
  left: 0;
  transform: translate(-110%, 30px) scale(1.04);
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .sport-image2 img {
    
    margin-right: 75px;
	margin-top: -40px;
  }
}

@media screen and (max-width: 991px) {
  .sport-image2 {
    top: 0;
    transform: translate(-90%, 45px) scale(1.04);
  }
}
@media screen and (max-width: 767px) {
  .sport-image2 {
    position: static;
    transform: initial;
  }
}



.sport-title-wrap {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
}

@media screen and (max-width: 479px){
.sport-title-wrap {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 6px;
}
}

.sport-title-wrap h3 {
  margin-top: -5px;
  padding-left: 10px;
  color: #c1c1c1;
  font-size: 36px;
  letter-spacing: 1.7px;
}
@media screen and (max-width: 1275px) {
  .sport-title-wrap h3 {
    font-size: 32px;
  }
}
.sport-value {
  position: relative;
  padding-bottom: 7px;
  font-size: 18px;
}
.sport-value:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}
@media screen and (max-width: 768px) {
  .sport-value {
  position: relative;
  padding-bottom: 9px;
  font-size: 18px;
  margin-top: -8px;
}
}

@media screen and (max-width: 479px) {
  .sport-value {
  position: relative;
  padding-bottom: 7px;
  font-size: 14px;
  margin-top: -8px;
}
}

.sport-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
}
@media screen and (max-width: 1275px) {
  .sport-text {
    font-size: 16px;
    line-height: 1.75;
  }
}
@media screen and (max-width: 768px) {
  .sport-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .sport-text {
    font-size: 16px;
	line-height: 1.4;
	padding-right: 10px;
	letter-spacing: -0.1px;
  }
}

.tips {
  transition: 0.4s;
}
.tips h2 {
  margin-left: -5px;
  color: #e7e7e7;
  font-size: 80px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .tips h2 {
    margin-bottom: 20px;
  }
  
}
@media screen and (max-width: 479px) {
  .tips h2 {
    font-size: 28px;
  }
 
}
.tips-block {
  display: flex;
  flex-wrap: wrap;
}
.tips-block:nth-child(2n) .tips-content {
  padding: 0 130px 0 10%;
}
.tips-block:nth-child(2n) .tips-content .tips-content-wrap .tips-item-number-block {
  left: initial;
  right: -130px;
  transform: translateX(50%);
}
@media screen and (max-width: 1275px) {
  .tips-block:nth-child(2n) .tips-content .tips-content-wrap .tips-item-number-block {
    width: 116px;
    height: 116px;
    top: -170px;
    left: 0;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .tips-block:nth-child(2n) .tips-content .tips-content-wrap .tips-item-number-block {
    width: 116px;
    height: 116px;
    top: -128px;
    left: 0;
    transform: none;
  }
}

@media screen and (max-width: 479px) {
  .tips-block:nth-child(2n) .tips-content .tips-content-wrap .tips-item-number-block {
    width: 70px;
    height: 70px;
    top: -90px;
  }
}
@media screen and (max-width: 1275px) {
  .tips-block:nth-child(2n) .tips-content {
    padding: 0 32px;
  }
}
@media screen and (max-width: 479px) {
  .tips-block:nth-child(2n) .tips-content {
    padding: 0 20px;
  }
}
.tips-block:nth-child(2n) .tips-box + .tips-box {
  order: -1;
}
@media screen and (max-width: 1275px) {
  .tips-block:nth-child(2n) .tips-box + .tips-box {
    order: 0;
  }
}
.tips-box {
  width: 50%;
}
.tips-box img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1275px) {
  .tips-box {
    width: 100%;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 768px) {
  .tips-box {
    width: 100%;
    margin-bottom: 82px;
  }
}

@media screen and (max-width: 479px) {
  .tips-box {
    margin-bottom: 35px;
  }
}
.tips-content {
  position: relative;
  padding: 0 10% 0 130px;
}
@media screen and (max-width: 1275px) {
  .tips-content {
    padding: 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .tips-content {
    padding: 0 30px;
	word-spacing: 2px;
  }
}

.tips-content-wrap {
  position: relative;
  top: calc(50% - 155px);
  transition: 0.2s;
}
@media screen and (max-width: 1275px) {
  .tips-content-wrap {
    top: 0;
  }
}
.tips-item-number-block {
  position: absolute;
  top: 0;
  left: -130px;
  display: flex;
  width: 168px;
  height: 155px;
  transform: translateX(-50%);
  background-color: #5e42b0;
  transition: 0.4s;
}
@media screen and (max-width: 1275px) {
  .tips-item-number-block {
    width: 116px;
    height: 116px;
    top: -170px;
    left: 0;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .tips-item-number-block {
    width: 116px;
    height: 116px;
    top: -128px;
    left: 3px;
    transform: none;
  }
}

@media screen and (max-width: 479px) {
  .tips-item-number-block {
    width: 70px;
    height: 70px;
    top: -90px;
  }
}
.tips-value {
  position: relative;
  margin: auto;
  padding-bottom: 7px;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}
.tips-value:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.3;
}

@media screen and (max-width: 479px) { 
   .tips-value {
    font-size: 14px; 
  }
}
.tips-title-wrap {
  position: relative;
  top: calc(77.5px - 40px);
  transition: 0.2s;
}
@media screen and (max-width: 1275px) {
  .tips-title-wrap {
    top: 0;
  }
}

@media screen and (max-width: 768px){
.tips-title-wrap {
  position: relative;
  top: calc(77.5px - 40px);
  transition: 0.2s;
  margin-top: -40px;
}
}

.tips-title {
  margin-bottom: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 1275px) {
  .tips-title {
    margin-bottom: 20px;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
  }
}

@media screen and (max-width: 768px) {
  .tips-title {
    margin-bottom: 20px;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
  }
}
.tips-text {
  max-height: 155px;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.2px;
  overflow: hidden;
}
@media screen and (max-width: 1275px) {
  .tips-text {
    max-height: initial;
    font-size: 28px;
    overflow: initial;
  }
}

@media screen and (max-width: 768px) {
  .tips-text {
    max-height: initial;
    font-size: 24px;
    overflow: initial;
	line-height: 28px;
	margin-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .tips-text {
    max-height: initial;
    font-size: 16px;
    overflow: initial;
  }
}

.footer {
  position: relative;
  padding: 228px 33px 50px;
  text-transform: uppercase;
}

.footer:before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0a0e34;
  opacity: 0.9;
}

.footer:before {
  background: url(../images/game_1920.jpg) 50% 0 / cover no-repeat;
}

@media screen and (max-width: 768px) {
  .footer-wrap {
    padding: 125px 20px 20px 20px;
	
  }
}

.footer-download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

@media screen and (max-width: 991px) {
  .footer-download-link {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .footer-download-link {
    margin-bottom: 70px;
	margin-top: 28px;
  }
}

@media screen and (max-width: 479px) {
  .footer-download-link {
    flex-direction: column;
    margin-bottom: 75px;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 14px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #7052cd, #50379a);
}

.footer-icon svg {
  width: 102px;
  fill: #fff;

}
@media screen and (max-width: 479px) {
  .footer-icon svg {
    width: 58px;
  }
}

@media screen and (max-width: 991px) {
  .footer-icon {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 479px) {
  .footer-icon {
    margin-bottom: 50px;
    padding: 11px 7px;
  }
}

  .footer-text-container {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  margin: 0 0 10px -5px;
  color: #fff;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 4px;
}

  .footer-from {
  color: #a496ca;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.8px;
}

@media screen and (max-width: 768px) {
  .footer-text {
    font-size: 80px;
  }
}

@media screen and (max-width: 769px) {
  .footer-from {
    font-size: 36px;
    letter-spacing: -0.8px;
  }
}

@media screen and (max-width: 479px) {
  .footer-text {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    
  }
}

@media screen and (max-width: 479px) {
  .footer-from {
    font-size: 14px;
    letter-spacing: -0.8px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  .footer-text-container {
    align-items: center;
    padding-left: 0;
  }
}

  .footer-menu {
  margin-top: 180px;
  margin-bottom: 250px;
}

@media screen and (max-width: 768px) {
   .footer-menu {
  margin-top: 270px;
  margin-left: 50px;
  margin-bottom: 60px;
}

@media screen and (max-width: 479px) {
  .footer-menu {
  margin-bottom: 120px;
}
}

@media screen and (max-width: 991px) {
  .footer {
    padding: 125px 70px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding: 100px 5px 20px 5px;
  }
}

